extends layout

block content
  link(rel='stylesheet', href='/stylesheets/indexstyle.css')
  script(src="https://code.jquery.com/jquery-3.5.1.min.js")
  script(src="javascripts/ajaxRequest.js")
  header 
    h1 Message Board
    a(href='/profile') Profile
    a(href="/logout") Log out 
  h2 Topic Name 
  - var c = 0;
  
  each msg in messages
    ul(class='msgbox') 
      li(class="name") #{msg.author}:
      li(class="msg") #{msg.message} 
        
  //- input(id = "usrname",type="text",name="username",placeholder="username")
  //- p(id="username") #{username}
  textarea(name="message",id="message" rows="2",placeholder="enter message here")
  | 
  button(id="send",onclick=`sendMessage("${username}")`) Send