extends messageLayout

block library
  script(src="https://code.jquery.com/jquery-3.5.1.min.js")
  script(src="/javascripts/ajaxRequest.js")
  link(rel="stylesheet",href="/stylesheets/main.css")
block variables
    - var messages = messages
    - var page = page
    - var max = max
    - var url = url
    - var topics = []
block header
    header 
        a(href='/topics') Topics
        h1 Message Board
        a(href="/logout") Log out 
    div(id="top")
        h2(id="topic") #{topic}

block extra          
    if page == 1
        textarea(name="message",id="message" rows="2",placeholder="enter message here")
        | 
        button(id="send",onclick=`sendMessage("${username}","/topic/${topic}","${limit}")`) Send