extends layout

block content
    link(rel="stylesheet",href="/stylesheets/login.css")
    //- script(src="/socket.io/socket.io.js")
    //- script.
    //-     var socket = io()
    //-     socket.emit('connect',{})
    div(id='login')
        form(method="POST",action="#{link}")
            input(type="string",name="username",placeholder="enter username")
            | 
            input(type="password",name="password",placeholder="enter password")
            | 
            if link == 'signup'
                input(type ="email",name="email",placeholder="name@email.com")
                input(type="number",name="age",placeholder="enter age")
            button(type="submit") #{link}
            - const l = 'login'
            if link == 'login'
                a(href="/signup") Signup
            else 
                a(href="/login") Login 
        