body {
  margin: 0;
  background-color: rgb(217, 218, 214);
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
header {
  /* margin: 0; */
  background-color: rgb(23, 121, 179);
  display: flex;
  /* width: 100%; */
  
  /* padding-left: 10em; */
}

header h1 {
  text-align: center;
  width: 70%; 
  font-size: 2rem;
  color: white;
}

h2 {
  text-align: center;
  font-size: 2rem;
}

a {
  text-align: center;
  background-color: rgba(182, 182, 236, 0.911);
  margin: 0.8em 1em 0.8em 15%;
  padding : 0.6em 0.5em 0em ;
  font-size: 1.2rem;
  font-weight: 300;
  border-radius: 0.5em;
  vertical-align: middle;
  text-decoration: none;
  /* vertical-align: text-bottom; */
}

a:hover{
  color: blueviolet;
  /* background-color: cadetblue; */
  text-decoration: underline;
  /* font-weight: 100; */
}



.msgbox {
  text-align : center;
  margin: 2em 12em;
  background-color: white;
  width: 70%;
  text-align: left;
  padding: 0.2em 0;
}

.name {
  font-size: 1.3rem;
  margin-left: 0.5em;
  text-transform: capitalize;
}

.msg{
  font-size: 1.1rem;
  margin-left: 1em;
}
#message {
  margin: 0em 0em 1em 8em;
  width: 65%;
  font-size: 1.3rem;
  border-radius: 0.5em;
}

button {
  position: absolute;
  margin: 0 1em;
  font-size: 1.2rem;
  background-color: green;
  padding: 0.7em;
  border-radius: 0.4em;
  cursor: pointer;
}

button:hover{
  text-decoration: underline;
  background-color: rgb(21, 255, 0);
}
