
header {
  /* margin: 0; */
  background-color: rgb(23, 121, 179);
  display: flex;
  z-index: 1;
  position: relative;
  /* width: 100%; */
  
  /* padding-left: 10em; */
}

header h1 {
  text-align: center;
  width: 85%; 
  margin-left: 14%;
  font-size: 2rem;
  color: white;
}
#top {
  margin : 1.2em 15%;
}
#topic{
  display: inline-block;
  width: 50%;
  margin: 0 15%;
  font-size: 1.2rem;
  text-align: center;
}
header > a {
  text-align: center;
  background-color: rgba(182, 182, 236, 0.911);
  margin: 0.8em 1em 0.8em 1em;
  padding : 1em 0.5em 0em ;
  font-size: 1rem;
  font-weight: 300;
  width: 5%;
  vertical-align: middle;
  border-radius: 0.5em;
  vertical-align: middle;
  text-decoration: none;
  /* vertical-align: text-bottom; */
}

a:hover{
  color: blueviolet;
  /* background-color: cadetblue; */
  text-decoration: underline;
  /* font-weight: 100; */
}
#message {
  margin: 0em 0em 2em 15%;
  width: 65%;
  font-size: 1.3rem;
  border-radius: 0.5em;
}

button {
  position: absolute;
  margin: 0 1em;
  font-size: 1.2rem;
  background-color: green;
  padding: 0.7em;
  border-radius: 0.4em;
  cursor: pointer;
}

button:hover{
  text-decoration: underline;
  background-color: rgb(21, 255, 0);
}
